# Archivos de entorno
.env
.env.*

# Dependencias de Composer
/vendor/

# Caché de la aplicación
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Archivos de configuración y logs
/storage/logs/*
*.log

# Archivos temporales del sistema operativo
*.swp
*.swo
.DS_Store
Thumbs.db

# Archivos de depuración
.phpunit.result.cache
.php_cs.cache

# Editor y sistema operativo
.idea/
.vscode/
*.bak
*.tmp

# Archivos de despliegue
node_modules/
npm-debug.log
yarn-error.log